
.logo-flash
{
    position:relative;
   
    margin:0 auto;
    overflow:hidden;

}

.logo-flash:before
 {
    content: "";
    position: absolute;
    left: -1200px;  /*điểm xuất phát theo tọa đọ x*/
    top: 200px;/*điểm xuất phát theo tọa đọ y*/
    width: 1900px; /*chiều dài cây quét*/
    height: 20px;
    overflow: hidden;
    background: linear-gradient(
		to right, 
		rgba(248, 219, 219, 0.13) 0%,
		rgba(255, 255, 255, 0.13) 77%,
		rgba(255, 255, 255, 0.5) 92%,
		rgba(255, 255, 255, 0.0) 100%
	);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: searchLights 1.5s ease-out 1.5s infinite;
    -o-animation: searchLights 1.5s ease-out 1.5s infinite;
    animation: searchLights 1.5s ease-out 1.5s infinite;
}
    @keyframes searchLights 
    {
        0%
        { left: -1500px;top: 0;}
         to{left: 0px;top:200;}
        }

        .xoay img
        {
          width:100px;
          height: 100px;
          border-radius: 10px;
         
        }
          
    .xoay {
          /* just style for card out line and size */
        /*  border: 1px solid black;*/
          width: 100px;
          height: 100px;
          top:7%;
          left:10%;
          
          /* end style for card out line and size */
      
          position: absolute; /* declare parent for inner child absolute */
          transform-style: preserve-3d; /* to tranform with 3d effect */
          animation: flip 2s linear infinite;
          transition: transform all 1s;
}
      
      .face {
          position: absolute; /* for stick 2 card side together */
          backface-visibility: hidden; /* hide back face when front face is face us */
      
        /* just set size for card */
          width: 100px;
          height: 0px;
        /* end set size for card */
      
        /* just style for text */
          font-weight: bold;
          font-size: 20px;
          box-shadow: 20px 10px 90px red solid;
        /* end style for text */
      }
      
      .back {
         
          transform: rotateY(180deg); /* to flip back */
      }
      /* .card:hover {
          transform: rotateY(180deg);  
      } */
      @keyframes flip {
        50%, 50% {
          transform: rotateY(0);
        }
        50%, 50% {
          transform: rotateY(90deg);
        }
        100%, 100% {
          transform: rotateY(180deg);
        }
      } 
          
    
         
